* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
	width: 100%;
	padding: 16px;
}

a {
	text-decoration: none;
	color: currentColor;
}

.top-container {
    height: calc(100vh - 100px);
    background-color: blue;
    display: flex;
}

.bottom-container {
    height: 100px;
    background-color: orange;
}

.sidebar {
    flex-basis: 300px;
}

main {
    flex-grow: 1;
    background-color: red;
}